<div class="table">
  <div class="conversations">
        
        <div *ngFor="let conversation of conversation">
            <div class="conversationList" id="{{conversation.id}}" (click)="getMessages($event)" >{{ conversation.user2 }} 
               <form (submit)="delete($event)">
                  <input id="{{conversation.id}}" type="submit" value="Delete">

                </form>
            </div>
        </div>

        <div *ngIf="roleService.adminRole"  > 
          <form (submit)="createTopic($event)">
              <div class="table">
              <div class="input1"> 
                <label>Create Your Topic</label>   
              </div>
        
              <div class="input2">
                  <textarea   
                  class="commentBox" 
                  placeholder="Your topic"
                  required
                  data-validation-required-message="Please leave a message"
                  name="message"
                  minlength=20
                  maxlength=35>
                </textarea>
              </div>
              </div>
              <div class="input3" > 
              <input class="dogButton" type="submit" value="Create Topic">
            </div>
            </form>
          </div>

  </div>
  <div class="messages">

      <div *ngFor="let message of message">
          <div class="messageName" id="{{message.id}}" >{{ message.name }} </div>
          <div class="messageList" id="{{message.id}}" >{{ message.message }} </div>
      </div>

      <div class="postMessage" *ngIf="displayMessage" > 
      <form (submit)="createMessage($event)">
          
             <div class="input1" >
              <label>Create Your Message</label>
            </div>

              <div class="input2">
              <textarea   
                class="commentBox" 
                placeholder="Your Message"
                required
                data-validation-required-message="Please leave a message"
                name="message"
                maxlength="250"
                       ></textarea>
            </div>
          
            <div class="input3" >
              <input  type="submit" value="Post Message">
            </div>
          </form>
        </div>

  </div>
</div>