<div class="table">
  <div class="conversations">
        
        <div *ngFor="let conversation of conversation">
            <div class="conversationList" id="{{conversation.id}}" (click)="getMessages($event)" >{{ conversation.username1 }} vs {{ conversation.username2 }}</div>
        </div>

  </div>
  <div class="messages">

      <div *ngFor="let message of message">
          <div class="messageName" id="{{message.id}}" >{{ message.name }} </div>
          <div class="messageList" id="{{message.id}}" >{{ message.message }} </div>
      </div>

      <div class="postMessage" *ngIf="displayMessage" > 
      <form (submit)="createMessage($event)">
          
             <div class="input1" >
              <label>Create Your Message</label>
            </div>

              <div class="input2">
              <textarea   
                class="commentBox" 
                placeholder="Your Message"
                required
                data-validation-required-message="Please leave a message"
                name="message"
                maxlength="250"
                       ></textarea>
            </div>
          
            <div class="input3" >
              <input  type="submit" value="Post Message">
            </div>
          </form>
        </div>

  </div>
</div>