.table{
    display: table;
    width: 100%;
    float: left;
    
}


.cell{
    width: 100%;
    float: left;
    display: table-cell;
}


.contactCard{
    position: fixed;
    width: 70%;
    height: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
}


.contactInfo{
    width: 40%;
    height: 100%;
    float: left;
    display: table-cell;
    background-color: rgb(255, 165, 0);
}

.contactInfoWrapper{
    padding: 2rem;
}

