.table{
    display: table;
    width: 10%;
    background-color: black;
    float: left;
    
}

h1{
    font-size: 1rem;
}


.cell{
    width: 100%;
    float: left;
    display: table-cell;
    height: 15%;
    background-color: rgb(201, 216, 250);
    text-align: center;
    margin-left: 5px;
}

.cell:hover{
    background-color: white;
    cursor: pointer;
}

.naviComp{
    display: table;
    width: 10%;
    background-color: black;
    position: fixed;
    top: 0; 
    right: 20px;
    
}

.modals{
    position: fixed;
    width: 35rem;
    height: 35rem;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-shadow: 0 2vw 4vw 0 rgba(0, 0, 0, 0.497), 0 2vw 4vw 0 rgba(0, 0, 0, 0.585);
    border: solid black 5px
    
  }

  .headerModal{
    width: 80%;
    float: left;
    display: table-cell;
    background-color:  rgb(232, 237, 248);
    font-size: 1.5rem;
    height: 3rem;
    padding-top: 0.5rem;
    

}

.closes{
    width: 20%;
    float: left;
    display: table-cell;
    background-color:  red;
    font-size: 1.5rem;
    height: 3rem;
    text-align: center;
    color: white;
    padding-top: 0.5rem;
}



.moblie{
    display: none
}

.upArrow{
    height: 1rem;
}

@media only screen and (max-width: 1000px) {
    h1{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 650px) {
    h1{
        font-size: 0.8rem;
    }

    .naviComp{
        right: 30px;
        
    }
    
}

@media only screen and (max-width: 600px) {
    .desktop{
        display: none;
    }

    .moblie{
        display: inline
    }
    
.modals{
    width: 20rem;
    
  }

  .naviComp{
      z-index: 16;
  }

}

@media only screen and (max-width: 450px) {
    .naviComp{
        display: table;
        width: 13%;
        background-color: black;
        position: fixed;
        top: 0; 
        right: 30px;
        
        
    }

    h1{
        font-size: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

}