/* You can add global styles to this file, and also import other style files */


body{
    margin: 0px;
    padding: 0px;
    background-image: url(./assets/img/background.jpg);
    background-size: 100%;

}

@media only screen and (max-width: 500px) {

    body{
        background-image: url(./assets/img/background.jpg);
  
        /* Set a specific height */
        height: 500px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
   
}
