<div class="compBody">

    <div class="month" id="{{month.id}}" *ngFor="let month of month | paginate: { itemsPerPage: 1, currentPage: p }">
        <div class="monthName">
          Month: {{month.month}}
        </div>
        <div class="week">
            <div class="day" >
              <div class="dayOfWeek" >Sun </div> <div class="numberOfDay" > {{month.day1}} </div>
              <div class="dayComment" (click)="commentEdit($event)" id="1" > {{month.day1Comment}} </div>
            </div>
            <div class="day2" >
              <div class="dayOfWeek" >Mon </div> <div class="numberOfDay" > {{month.day2}} </div>
              <div class="dayComment" (click)="commentEdit($event)" id="2" > {{month.day2Comment}} </div>
            </div>
            <div class="day" >
              <div class="dayOfWeek" >Tue </div> <div class="numberOfDay" > {{month.day3}} </div>
              <div class="dayComment" (click)="commentEdit($event)" id="3" > {{month.day3Comment}} </div>
            </div>
            <div class="day2" >
              <div class="dayOfWeek" >Wed </div> <div class="numberOfDay" > {{month.day4}} </div>
              <div class="dayComment" (click)="commentEdit($event)" id="4" > {{month.day4Comment}} </div>
            </div>
            <div class="day" >
              <div class="dayOfWeek" >Thu </div> <div class="numberOfDay" > {{month.day5}} </div>
              <div class="dayComment" (click)="commentEdit($event)" id="5" > {{month.day5Comment}} </div>
            </div>
            <div class="day2" >
              <div class="dayOfWeek" >Fri </div> <div class="numberOfDay" > {{month.day6}} </div>
              <div class="dayComment" (click)="commentEdit($event)" id="6" > {{month.day6Comment}} </div>
            </div>
            <div class="day" >
              <div class="dayOfWeek" >Sat</div> <div class="numberOfDay" > {{month.day7}} </div>
              <div class="dayComment" (click)="commentEdit($event)" id="7" > {{month.day7Comment}} </div>
            </div>
        </div>
        
        <div class="week">
            <div class="day2" >
                <div class="dayOfWeek" >Sun</div> <div class="numberOfDay" > {{month.day8}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="8" > {{month.day8Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Mon</div> <div class="numberOfDay" > {{month.day9}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="9" > {{month.day9Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Tue</div> <div class="numberOfDay" > {{month.day10}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="10" > {{month.day10Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Wed</div> <div class="numberOfDay" > {{month.day11}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="11" > {{month.day11Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Thu</div> <div class="numberOfDay" > {{month.day12}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="12" > {{month.day12Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Fri</div> <div class="numberOfDay" > {{month.day13}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="13" > {{month.day13Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Sat</div> <div class="numberOfDay" > {{month.day14}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="14" > {{month.day14Comment}} </div>
              </div>
        </div>

        <div class="week">
            <div class="day" >
                <div class="dayOfWeek" >Sun</div> <div class="numberOfDay" > {{month.day15}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="15" > {{month.day15Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Mon</div> <div class="numberOfDay" > {{month.day16}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="16" > {{month.day16Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Tue</div> <div class="numberOfDay" > {{month.day17}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="17" > {{month.day17Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Wed</div> <div class="numberOfDay" > {{month.day18}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="18" > {{month.day18Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Thu</div> <div class="numberOfDay" > {{month.day19}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="19" > {{month.day19Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Fri</div> <div class="numberOfDay" > {{month.day20}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="20" > {{month.day20Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Sat</div> <div class="numberOfDay" > {{month.day21}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="21" > {{month.day21Comment}} </div>
              </div>
        </div>

        <div class="week">
                      <div class="day2" >
                <div class="dayOfWeek" >Sun</div> <div class="numberOfDay" > {{month.day22}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="22" > {{month.day22Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Mon</div> <div class="numberOfDay" > {{month.day23}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="23" > {{month.day23Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Tue</div> <div class="numberOfDay" > {{month.day24}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="24" > {{month.day24Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Wed</div> <div class="numberOfDay" > {{month.day25}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="25" > {{month.day25Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Thu</div> <div class="numberOfDay" > {{month.day26}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="26" > {{month.day26Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Fri</div> <div class="numberOfDay" > {{month.day27}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="27" > {{month.day27Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Sat</div> <div class="numberOfDay" > {{month.day28}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="28" > {{month.day28Comment}} </div>
              </div>
        </div>

        <div class="week">
            <div class="day" >
                <div class="dayOfWeek" >Sun</div> <div class="numberOfDay" > {{month.day29}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="29" > {{month.day29Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Mon</div> <div class="numberOfDay" > {{month.day30}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="30" > {{month.day30Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Tue</div> <div class="numberOfDay" > {{month.day31}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="31" > {{month.day31Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Wed</div> <div class="numberOfDay" > {{month.day32}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="32" > {{month.day32Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Thu</div> <div class="numberOfDay" > {{month.day33}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="33" > {{month.day33Comment}} </div>
              </div>
              <div class="day2" >
                <div class="dayOfWeek" >Fri</div> <div class="numberOfDay" > {{month.day34}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="34" > {{month.day34Comment}} </div>
              </div>
              <div class="day" >
                <div class="dayOfWeek" >Sat</div> <div class="numberOfDay" > {{month.day35}} </div>
                <div class="dayComment" (click)="commentEdit($event)" id="35" > {{month.day35Comment}} </div>
              </div>
        </div>

        <div class="week">
            <div class="day2" >
      <div class="dayOfWeek" >Sun</div> <div class="numberOfDay" > {{month.day36}} </div>
      <div class="dayComment" (click)="commentEdit($event)" id="36" > {{month.day22Comment}} </div>
    </div>
    <div class="day" >
      <div class="dayOfWeek" >Mon</div> <div class="numberOfDay" > {{month.day37}} </div>
      <div class="dayComment" (click)="commentEdit($event)" id="37" > {{month.day23Comment}} </div>
    </div>
    <div class="day2" >
      <div class="dayOfWeek" >Tue</div> <div class="numberOfDay" > {{month.day38}} </div>
      <div class="dayComment" (click)="commentEdit($event)" id="38" > {{month.day24Comment}} </div>
    </div>
    <div class="day" >
      <div class="dayOfWeek" >Wed</div> <div class="numberOfDay" > {{month.day39}} </div>
      <div class="dayComment" (click)="commentEdit($event)" id="39" > {{month.day25Comment}} </div>
    </div>
    <div class="day2" >
      <div class="dayOfWeek" >Thu</div> <div class="numberOfDay" > {{month.day40}} </div>
      <div class="dayComment" (click)="commentEdit($event)" id="40" > {{month.day26Comment}} </div>
    </div>
    <div class="day" >
      <div class="dayOfWeek" >Fri</div> <div class="numberOfDay" > {{month.day41}} </div>
      <div class="dayComment" (click)="commentEdit($event)" id="41" > {{month.day27Comment}} </div>
    </div>
    <div class="day2" >
      <div class="dayOfWeek" >Sat</div> <div class="numberOfDay" > {{month.day42}} </div>
      <div class="dayComment" (click)="commentEdit($event)" id="42" > {{month.day28Comment}} </div>
    </div>
</div>
        
    </div>

    

</div>
<div class="pagination">
<pagination-controls class="myPagination"
(pageChange)="p = $event" maxSize="6">
</pagination-controls>
</div>

<div class="modals"  *ngIf="modal" >
  <div class="headerModal" > &nbsp;&nbsp; Events of the Day</div>  <div class="closes" (click)="modalFalse($event)" > Close </div>
  <div class="modalBody "> 
        <div class="modalMonth" >{{month[activeMonth-1].month}}  </div> 
        <div>{{modalComment}}  </div> 

        
        <div *ngFor="let modalEvents of modalEvents">
            <div class="modalHeader"> {{ modalEvents.header }} </div>
          <div class="modalMessage"> {{ modalEvents.message }} </div>

        </div>
        <div *ngIf="roleService.adminRole">
        <form (submit)="createEvent($event)"> 
                  <div class="label1" >
                    <label  >Header:&nbsp;</label>
                      <input name="header"  type="header" value="" >
                    </div>
           
                    <div >
                        <label>Message:</label>
                    <textarea   
                    class="commentBox" 
                    placeholder="Please put a description"
                    required
                    data-validation-required-message="Please put a description"
                    name="message"
                    maxlength="250"
                    value=""
                           ></textarea>
                   </div>                
          <br>
          <button (click)="submit" >Create Event</button>
          
         </form>
        </div>
  </div>


   

</div>